h1 {
    color: #f575bb; 
    text-align: center; 
    text-decoration: underline; 
    font-family: 'Tilt Neon', sans-serif; 
    padding: 10px; 
    background-color: rgba(245, 117, 187, 0.5);
    border-radius: 10px; 
    box-shadow: 
        0 0 20px rgba(245, 117, 187, 0.8), 
        0 0 40px rgba(245, 117, 187, 0.6), 
        0 0 60px rgba(245, 117, 187, 0.4); 
    position: fixed; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: fit-content; 
    z-index: 999; 
}

.spacer {
    height: 300px; 
}

html {
    background: #D0E4F5 url("https://raw.githubusercontent.com/MarkPalmer87/Images/main/Anothjer_Space_smaller.jpg") no-repeat fixed center center; 
    background-size: cover;
    height: 100%; 
}

body {
    margin: 0; 
    padding: 0; 
    height: 100%;
    text-align: center; 
}

h2 {
    text-align: center; 
    color: #f575bb; 
}

.tilty-button {
    display: inline-block;
    padding: 10px 20px; 
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f575bb;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center; 
    margin: 10px;
    transform: rotate(20deg);
}

.tilty-button:nth-child(2) {
    transform: rotate(-10deg); 
}

.tilty-button:nth-child(3) {
    transform: rotate(5deg); 
}

.tilty-button:hover {
    background-color: #00ff00;
}